/* Overall settings
---------------------------------------------------------------------------------------------------- */
html, body { font-family: sans-serif;}
a { color:#0079c1; text-decoration:none; }
a:focus { outline:0; text-decoration:underline; }
h1 { color:#0079c1; }
h1.docs { font-size:2em; }
h2 { font-size:1.8em; }
h3 { font-size:1.5em; }
h2,h3 { font-family:'Times New Roman', Times, serif; font-weight:normal; color:#0072b6; margin-bottom:8px; margin-top: 10px; }
p { margin:0.6em 0; line-height:1.6em; }
ul { margin:0.8em; list-style-position:inside; line-height:1.6em; }
ol { margin:0.8em 2em; list-style-position:inside; line-height:1.6em; }
input.text, input.password, textarea {
	border:1px #7f95a3 solid; margin:2px; padding:3px 4px; outline:0;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
textarea { padding:5px; font-family:inherit; }
textarea { width:96%; }
input.text:hover, input.password:hover, textarea:hover { border-color:#4c6e83; }
input.text:focus, input.password:focus, textarea:focus {
	border-color:#4c6e83; background:#fff url(../img/input_bg.png) repeat-x top;
}
button {
	border:1px #4c6e83 solid; margin:2px; padding:0 10px; line-height:20px; font-weight:bold;
	background:#b1d3e7 url(../img/bar_bg_light.png) repeat-x bottom; color:#012d48;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
button:hover, button:focus { background:#86bde2 url(../img/bar_bg_light_reverse.png) repeat-x top; color:#000; border-color:#012d48; cursor:pointer; }
button:active { background:#fff url(../img/input_bg.png) repeat-x top; }

a.button {
	display:block; height:32px; line-height:32px; text-align:center; margin:10px 0;
	font-family:'Times New Roman', Times, serif; font-size:1.4em;
	background:#207ab0 url(../img/button_bg.png) repeat-x bottom;
	border:1px #012d48 solid; color:#fff;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
a.button:hover { text-decoration:underline; background-image:url(../img/bar_bg_dark.png); }
a.darkbutton {
	display:inline-block; height:25px; line-height:25px; text-align:center; padding:0 10px; margin:5px 0;
	background:#207ab0 url(../img/bar_bg_dark.png) repeat-x bottom; color:#fff;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
a.darkbutton:hover { text-decoration:underline; }
a.lightbutton {
	display:inline-block; height:25px; line-height:25px; text-align:center; padding:0 10px; margin:5px 0;
	background:#b1d3e7 url(../img/bar_bg_light.png) repeat-x bottom; color:#012d48;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
a.lightbutton:hover { text-decoration:underline; }
a.graybutton {
	display:inline-block; height:25px; line-height:25px; text-align:center; padding:0 10px; margin:5px 0;
	background:#eee url(../img/bar_bg_gray.png) repeat-x bottom; color:#111;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
a.graybutton:hover { text-decoration:underline; }
.buttons { line-height:20px; font-size:0.9em; color:#666; }
.buttons a {
	display:inline-block; margin-right:2px; padding:0 7px; color:#333;
	background:#eee; border:1px #bbb solid;
	-khtml-border-radius:3px; -moz-border-radius:3px;
	-ms-border-radius:3px; -o-border-radius:3px;
	-webkit-border-radius:3px; border-radius:3px;
}
.buttons a:hover { background:#fff; }
.connectedbuttons a {
	display:inline-block; padding:0 7px; color:#333; line-height:19px;
	background:#eee; border:1px #bbb solid; border-right:0;
}
.connectedbuttons a:hover { background:#fff; }
.connectedbuttons a:first-child {
	-khtml-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px;
	-ms-border-radius:3px 0 0 3px; -o-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px;
}
.connectedbuttons a:last-child {
	border-right:1px #bbb solid;
	-khtml-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0;
	-ms-border-radius:0 3px 3px 0; -o-border-radius:0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0;
}

img.avatar, img.userphoto { border:1px #fff solid; outline:1px #ccc solid; max-width:100%}

.container { width:960px; margin:0 auto; padding:0; clear:both; }

.col	{ float:left; margin:30px; }
.col25 { float:left; margin:30px; width:202px; }
.col75 { float:left; margin:30px; width:668px; }
.col30 { float:left; margin:30px; width:240px; }
.col70 { float:left; margin:30px; width:630px; }
.col33 { float:left; margin:30px; width:280px; }
.col66 { float:left; margin:30px; width:590px; }
.col50 { float:left; margin:30px; width:435px; }
.col100 { float:left; margin:30px; width:900px; }
.width25 { width:202px; }
.width75 { width:668px; }
.width30 { width:240px; }
.width70 { width:630px; }
.width33 { width:280px; }
.width66 { width:590px; }
.width50 { width:435px; }
.width100 { width:900px; }

.error, .notice, .success {
	padding:12px 10px 12px 42px; margin-bottom:30px; border:2px solid #ddd;
	background-repeat:no-repeat; background-position:10px center;
	-khtml-border-radius:8px; -moz-border-radius:8px;
	-ms-border-radius:8px; -o-border-radius:8px;
	-webkit-border-radius:8px; border-radius:8px;
}
.error { border-color:#EE2825; background-image:url(../img/error.png); }
.notice { border-color:#6690F0; background-image:url(../img/notice.png); }
.success { border-color:#75BF42; background-image:url(../img/success.png); }
.error a, .notice a, .success a {color:inherit;}
span.marker, span.highlight{background-color: #FFF2D3; padding: 0.1em 0;}

.iblock {display: inline-block;}
.floatLeft { float:left; }
.floatRight { float:right; }
.alignLeft { text-align:left; }
.alignRight { text-align:right; }
.alignCenter { text-align:center; }
.left { float:left; text-align:left; }
.right { float:right; text-align:right; }
.gridfix { letter-spacing: -0.3em; /* hack to fix spacing for inline-blocks grid */ }
.grid {
	min-height:150px;
	display:-moz-inline-stack;
	display:inline-block;
	margin-left:20px;
	vertical-align:top;
	zoom:1;
	letter-spacing: normal;
}
.sidebar_hint { padding:10px 0; font-size:85%; color:#999; text-align:justify; }
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-outside{
	list-style-position: outside;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
dl {
	margin-top: 0;
	margin-bottom: 20px;
}

dt, dd {
	line-height: 1.42857143;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}
@media ( min-width : 480px){
	.dl-horizontal dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 180px;
	}
}
q {
	color: #222;
	color: rgba(34,34,34,0.8);
	font-style: italic;
}
html:lang(de) q,
.pretty.locale-de q,
q:lang(de) {
	quotes: "\201E" "\201C" "\201A" "\2018" !important; /* „ “ ‚ ‘ */
}
html:lang(en) q,
.pretty.locale-en q,
q:lang(en) {
	quotes: "\201C" "\201D" "\2018" "\2019" !important; /* “ ” ‘ ’ */
}
html:lang(fr) q,
.pretty.locale-fr q,
q:lang(fr) { /*  */
	quotes: "\00AB" "\00BB" "\2039" "\203A" !important; /* « » ‹ › */ 
}
html:lang(ru) q,
.pretty.locale-ru q,
q:lang(ru) {
	quotes: "\00AB" "\00BB" "\201E" "\201C" !important; /* « » „ “ */ 
}

/* Header
---------------------------------------------------------------------------------------------------- */
section#topbar { background:#012d48; height:30px; }
section#topbar .container { height:30px; background-color:#013f65; }
section#topbar #searchfield { position:absolute; top:1px; background:none; border:0; outline:0; width:230px; height:28px; margin:0; padding:0 5px; color:#c0d2dd; }
section#topbar #searchfield:hover, #topbar #searchfield:focus { background-color:#0a5e91; }
section#topbar ul { margin:0; padding:0; }
section#topbar ul.inline > li { list-style:none; float:left; }
section#topbar li a {
	display:block; margin:1px; margin-left:0; padding:0 15px; height:28px; line-height:28px; color:#c0d2dd;
	background-repeat:no-repeat; background-position:center;
}
section#topbar a:hover { background-color:#0a5e91; }
section#topbar a.active { background-color:#fff; color:#04293f; }

section#topbar #home, section#topbar #admin, section#topbar #search, section#topbar #profile,
section#topbar #messages, section#topbar #files, section#topbar #logout {
	background-image:url(../img/sprite-navigation.png);
}
section#topbar #home { width:30px; padding:0; text-indent:-9999px; background-position:-30px 0; }
section#topbar #search { width:30px; padding:0; text-indent:-9999px; background-position:0 0; }

section#topbar #guest, section#topbar #user { float:right; }
section#topbar #guest a, section#topbar #user a { margin-left:1px; margin-right:0; }
section#topbar #admin { width:30px; padding:0; text-indent:-9999px; background-position:-60px 0; }
section#topbar #profile { width:30px; padding:0; text-indent:-9999px; background-position:-90px 0; }
section#topbar #messages { width:30px; padding:0; text-indent:-9999px; background-position:-120px 0; }
section#topbar #files { width:30px; padding:0; text-indent:-9999px; background-position:-150px 0; }
section#topbar #logout { width:30px; padding:0; text-indent:-9999px; background-position:-180px 0; }

section#topbar #notices { color:#eee; line-height:30px; }
section#topbar #notices a { display:inline; padding:0; color:#eee; background:none; }
section#topbar #notices a:hover { color:#fff; text-decoration:underline; }
section#topbar #notices span.dropdown{
	background:transparent url(../img/sprite-navigation.png) no-repeat -210px 1px;
	width:30px; 
	padding:0; 
	text-indent:-9999px; 
	height: 30px;
	display: block; 	
}
section#topbar #notices ul {
	position: absolute; 
	display: none; 
	padding: 15px;
}
section#topbar #notices:hover,
section#topbar #notices ul:hover,
section#topbar #notices span.dropdown:hover + ul {
	display: block;
	background-color:#0a5e91;
}

#errors { margin:0 30px; }
#errors p { margin-bottom:20px; }

.userbox { position:absolute; top:29px; left:50%; margin-left:280px; width:180px; padding:10px; background:#fff; border-bottom:3px #ccc solid; }
#loginbox input {
	width:170px; margin:2px 0 4px 0; padding:2px 4px; border:1px #bbb solid; background:#eee; height:20px;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
#loginbox button {
	width:180px; padding:4px 0; margin:6px 0;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
#loginbox a { font-size:85%; color:#666; }
#loginbox a:hover { background:none!important; text-decoration:underline; }
#loginbox #register { float:right; font-weight:bold; color:#222; font-size:100%; }

#pmcount {
	position:absolute; top:2px; left:50%; margin-left:405px; width:9px; height:9px; line-height:9px;
	background:#c00; color:#fff; padding:1px; text-indent:0; font-size:9px; font-weight:bold;
	border:1px #100 solid; overflow:hidden; text-align:center;
	-khtml-border-radius:2px; -moz-border-radius:2px;
	-ms-border-radius:2px; -o-border-radius:2px;
	-webkit-border-radius:2px; border-radius:2px;
}
#pmbox { padding:0; width:200px; }
#pmbox ol { list-style:none; margin:0; padding:0; }
#pmbox li { display:block; border-bottom:1px #ccc solid; padding:5px 8px; }
#pmbox li a { display:block; font-weight:bold; }
#pmbox li a:hover { text-decoration:underline; }
#pmbox p { margin:0; padding:0 8px; font-size:85%; line-height:20px; }

header { background:#024c79 url(../img/header_bg.png) repeat-x; height:130px; }
header .container { height:130px; background:#0e6395 url(../img/header.png) no-repeat left; }
header h1 { width:244px; float:left; text-align:center; margin-left:30px; }
header h1 a { display:inline-block; width:180px; height:55px; text-indent:-9999px; background:url(../img/logo.png) no-repeat; margin-top:30px; z-index: 1; position: relative;}
header h1 small { display:inline-block; margin:3px 6px; padding:0 4px; line-height:17px; background:#096093; font-size:10px; color:#fff; }
header nav { float:left; }
header nav ol {	margin-top:90px; }
header nav ol li { list-style:none; }
header nav ol li { float:left; width:126px; height:36px; }

header nav ol li a { display:block; height:36px; padding:2px 10px; font-weight:bold; color:#fff; }
header nav ol li a small { display:block; padding-top:1px; font-size:0.8em; font-weight:normal; color:#c0d2dd; line-height:10px; }
header nav ol li a.active {
	background:#fff; margin-top:-4px; padding-top:6px; color:#012d48;
	-khtml-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0;
	-ms-border-radius:4px 4px 0 0; -o-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;
}
header nav ol li a.active small { color:#585858; }

header nav ol li ul { visibility:hidden; position:absolute; width:126px; border-top:4px #012d48 solid; border-bottom:2px #bbb solid; margin-top:-4px; padding:0; }
header nav ol li:hover ul { visibility:visible; z-index:9999; }
header nav ol li ul li { height:25px; border-bottom:1px #bbb solid; background:#eee; }
header nav ol li ul li a { display:block; padding:0 10px; height:25px; line-height:26px; color:#555; font-weight:normal; }
header nav ol li ul li a:hover { color:#000; background:#fff; }

/* Body
---------------------------------------------------------------------------------------------------- */
#body { background-color:#eee; }
#body .container { background-color:#fff; border-bottom:3px #bbb solid; padding:30px 0; }

.pagination { float:right; line-height:20px; font-size:0.9em; color:#666; }

.pagination a {
	display:inline-block; margin-left:2px; padding:0 7px;
	background:#eee; border:1px #bbb solid; color:#333;
	-khtml-border-radius:3px; -moz-border-radius:3px;
	-ms-border-radius:3px; -o-border-radius:3px;
	-webkit-border-radius:3px; border-radius:3px;
}

.pagination a:hover { background:#fff; text-decoration: none;}
.pagination a.current { border-color:#0079c1; }
.pagenav_current a { background:#ffee88; }

/* Pagination */
nav[role="navigation"] {
	text-align: center;
	float: none !important;
}

nav.pagination {
	width: 90%;
	max-width: 768px;
	margin: 2em auto 4em;
	text-align: center;
}

.pagination.small a{
	font-size: 90% !important;
}
.pagination span.pagenav {
	/* hide numbers on small devices */
	display: none;
	margin: 0 .2em;
}

.pagination span.pagenav_first,
.pagination span.pagenav_last,
.pagination span.pagenav_prev,
.pagination span.pagenav_next {
	/* make sure prev next buttons are visible */
	display: inline-block;
}

.pagination a {
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* use padding and font-size to change buttons size */
	padding: .2em .6em;
	font-size: .8rem;
	color: #555;
}

.pagination a {
	border: 1px solid #D0D0D0;
	border-radius: 0.25em;
	text-decoration: none;
}

.no-touch .pagination a:hover {
	background-color: #F9F9F9;
	border: 1px solid #A6A6A6;
	color: #333;
	text-decoration: none;
}

.pagination a:active {
	/* click effect */
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.pagination a.disabled {
	/* button disabled */
	color: rgba(46, 64, 87, 0.4);
	pointer-events: none;
}

.pagination a.disabled::before, .pagination a.disabled::after {
	opacity: .4;
}

.pagination .pagenav_prev a::before {
	/* content: '\00ab'; */
}

.pagination .pagenav_next a::after {
	/* content: ' \00bb'; */
}

.pagination .pagenav_current a{
	/* selected number */
	background-color: #FFF2D3;
	border-color: #FFF2D3;
	/* color: #ffffff; */
	pointer-events: none;
}

@media only screen and (min-width: 768px) {
	.pagination span.pagenav {
		display: inline-block;
	}
}

.desc { color:#666; }
.legend { font-size:0.9em; line-height:25px; }
.legend img { vertical-align:middle; margin-right:5px; }

/* common tables */
table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: transparent;
}
td,th {
	padding: 0;
}

td img.icon {
	vertical-align: middle;
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}

table.list { background-color:#eee; border:1px #ccc solid; border-bottom:0; }
table.list tr:hover { background-color:#f3f3f3; }
table.list td { padding:5px; border-top:1px #fff solid; border-bottom:1px #ccc solid; color:#333; vertical-align:middle; }
table.list thead tr { background:#b1d3e7 url(../img/bar_bg_light.png) repeat-x bottom; }
table.list thead th { padding:5px 8px; vertical-align:middle; font-weight:bold; }
table.list tbody th { padding:5px 8px; border-top:1px #fff solid; border-bottom:1px #ccc solid; vertical-align:middle; font-weight:bold; }

table.cells { background: #eee;}
table.cells td.coltop { background: #ddd; padding:5px 8px; vertical-align:middle; font-weight:bold; }
table.cells td { padding:3px;}

.page_text ul, .page_text ol {
	margin:0.6em 1em 0.6em 2em;
	list-style-position:inside;
	line-height: 1.4;
}

/* Code snippets */
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
	color: #333;
}
code, pre {
	font-family: Monaco, Menlo, Consolas, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
pre, code, kbd, .code {
	background:#fafafa url(../img/code-blueprint.png) repeat left top;
	padding:10px 15px; 
	overflow:auto;
	margin: 5px;
	border:1px solid #eee;
	border-left: 4px solid #558ABB;
	position: relative;
}
code, kbd{
	margin: 0 2px;
	padding: 2px 4px;
	border-radius: 3px;
	background-color: rgba(149, 119, 80, 0.06)
}
code, var, samp{
	border:none;
	color:#f17e32;
}
kbd{
	border:none;
	border-bottom:1px solid #bbb;
	color: #c7254e;
}

pre code {
	background-color: transparent;
	border: 0 none;
	color: inherit;
	font-size: inherit;
	padding: 0;
	
}
pre code {
	/*white-space: pre !important;
	word-wrap: normal !important;*/
}

/* fix old style code blocks */
.code pre{
	border: 0;
	padding: 0;
	margin: 0;
}

pre[class^="brush:sql"]::before, pre[class^="brush: sql"]::before {content: "SQL";}
pre[class^="brush:js"]::before, pre[class^="brush: js"]::before {content: "JavaScript";}
pre[class^="brush:php"]::before, pre[class^="brush: php"]::before {content: "PHP";}
pre[class^="brush:html"]::before, pre[class^="brush: html"]::before {content: "HTML";}
pre[class^="brush:css"]::before, pre[class^="brush: css"]::before {content: "CSS";}

pre::before {
	color: #666;
	font-family: arial, sans-serif;
	font-size: 0.857rem;
	font-style: italic;
	position: absolute;
	right: 5px;
	top: 0px;
	z-index: 10;
}

blockquote {
	padding:0px 15px; 
	margin: 5px;
	overflow:auto;
	color: #777; 
	border-left: 4px solid #ddd;
	text-indent: 0;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
	content: '\2014 \00A0';
}

/* Badges
---------------------------------------------------------------------------------------------------- */
.vtag::before,
.b-genoa::before,
.b-siena::before,
.b-valencia::before{
	margin-right: 0.3em;
}	

.badge, 
.vtag::before,
.b-genoa::before,
.b-siena::before,
.b-valencia::before	
{
	background: #EFEFEF none repeat scroll 0 0;
	border-left: 4px solid;
	border-radius: 2px;
	/* font-family: Helvetica, Arial, sans-serif; */
	font-size: 1em; 
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1em;
	/* margin-left: 5px; */
	min-width: 20px;
	padding: 0.1em 0.35em 0.1em;
	vertical-align: baseline;
}
.badge{
	color:#707070;
}
.vtag{
	color:#f17e32;
}
.vtag::before{
	background-color: #dfeefc;
	content: "version";
	color:#707070;
}
.b-siena{
	color:#72ac35;
}
.b-siena::before {
	background-color: #d7e6c9;
	content: "Siena";
}
.b-genoa{
	color:#64a2dc;
}
.b-genoa::before{
	background-color: #dfeefc;
	content: "Genoa";
}
.b-valencia{
	color:#e66e33;
}
.b-valencia::before{
	background-color: #f4d7c9;
	content: "Valencia";
}
.attention{
	color:#FB6A16;
}
.strong{
	font-weight: 700;
	letter-spacing: 0;
}
/* Footer
---------------------------------------------------------------------------------------------------- */
footer { padding-bottom:10px; background-color:#eee; }
footer div.container { padding:15px; font-size:85%; }
footer nav ol { padding-left:15px; list-style:none; line-height:16px; }
footer nav ol li { width:140px; float:left; }
footer nav ol li a { display:block; font-weight:bold; color:#333; border-bottom:1px #bbb solid; }
footer nav ol li a:hover { color:#000; }
footer nav ol li ul li { list-style:none; }
footer nav ol li ul li a { font-weight:normal; color:#0079c1; border:0; display:block; }
footer nav ol li ul li a:hover { color:#013f65; text-decoration:underline; }
footer div.container div { padding:10px 50px 0 0; float:right; text-align:left; color:#444; }

/* Specifics
---------------------------------------------------------------------------------------------------- */

/* Index */
aside .block {
	background:#f5f5f5 url(../img/bar_bg_light.png) repeat-x top;
	margin-bottom:15px; padding:0 10px 8px 10px; border-bottom:1px #ccc solid;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
aside .block h3 { height:30px; height:30px; overflow:hidden; line-height:30px; margin:0 0 10px 0; color:#012d48; font-family:Arial, Helvetica, sans-serif; font-size:1.1em; font-weight:bold; }
aside .buttons a { background:#fff; }
aside .buttons a:hover { text-decoration:underline; }
aside .block h4 {margin:1em 0 0.5em 0; }

.milestone { padding:0 0 2px 0!important; line-height:1.8em; }
.milestone span { font-size:0.9em; color:#333; }
.bar_outer { margin:0; padding:1px!important; background:#fff; border:1px #bbb solid; }
.bar_inner { margin:0; padding:0!important; background:#f8aa36; height:8px; }

.itemblock { list-style:none; margin:0; }
.itemblock li { padding:3px 0; clear:both; }
.itemblock li.all { text-align: center; }
.itemblock a { height:1.4em; line-height:1.4em; display:block; font-weight:bold; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.itemblock span { display:block; line-height:1em; font-size:0.8em; color:#333; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.itemblock span a { display:inline; color:#333; font-weight:normal; }
.itemblock span a:hover { text-decoration:underline; }
.itemblock div.count { float:right; padding-top:1.6em; padding-left:3px; font-size:85%; color:#999; }

#tagline {
	border-top:1px #bbb solid; border-bottom:1px #bbb solid; padding:10px; color:#c17202; font-style:italic; font-size:1.4em;
	font-family:Georgia, 'Times New Roman', Times, serif; line-height:1.4em;
}
#introduction { float:left; width:400px; margin-top:30px; line-height:1.8em; text-align:justify; }
#introduction p { line-height:inherit; }
p.benefits { color:#c17202; font-style:italic; font-weight: bold; }
#features { float:right; width:200px; margin-top:30px; line-height:1.8em; }

#news { clear:both; padding-top:10px; }
#news .item {
	background:#eee url(../img/bar_bg_dark.png) repeat-x top;
	padding:0 10px; margin-bottom:15px; border-bottom:1px #ccc solid;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
#news h4 { line-height:30px; font-weight:bold; font-size:1.1em; margin-bottom:8px; }
#news h4 a { display:block; color:#fff; }
#news h4 a span { float:right; color:#c0d2dd; font-size:0.8em; }
#news .info { line-height:22px; font-size:0.8em; color:#666; }
#news .comments_link { background:url(../img/icon_comments.png) no-repeat left center; padding-left:18px; }

/* Pages/lists */
.block_category { display:block; float:left; width:235px; margin:10px; padding:20px; background:#eee; border:1px #fff solid; outline:1px #ccc solid; }
.block_category:hover { background:#f3f3f3; outline-color:#0079c1; }
.block_category img { float:left; height:50px; width:50px; margin-right:15px; }
.block_category h3 { height:1.2em; overflow:hidden; margin:0; line-height:1.2em; }
.block_category p { height:3em; overflow:hidden; margin:5px 0 0 0; font-size:0.8em; color:#666; }

.list .block_category{
	width: 30%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.subcatlist{
	margin-bottom: 25px;
	overflow: hidden;
}

.extensions.col25 h3 { border-bottom:1px #d8dfe7 solid; padding:2px; margin-bottom:5px; }
.extensions.col25 div { margin-bottom:20px; }
.extensions.col25 div input { width:65%; margin-top:-2px; }
.extensions.col25 div button { padding:3px 10px; }
.extensions.col25 ul { list-style:none; margin:0 0 20px 0; }
.extensions.col25 ul li { margin:2px 0; padding:0; }
.extensions.col25 ul li a {
	display:block; padding:4px 8px;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
.extensions.col25 ul li a:hover { background-color:#e7ebf0; }
.extensions.col25 ul li a.selected { background-color:#d8dfe7; }
.extensions.col25 ul li a small { float:right; color:#9ab; }
.extensions .grid { border-top:2px #ddd solid; padding:20px 0; min-height:50px; _height:50px; }
.extensions .grid h4 { font-size:115%; }
.extensions .grid p { margin:8px 0 8px 0; font-size:95%; }
.extensions .grid small { color:#666; font-size:85%; }

#cotonti_download { height:64px; line-height:27px; padding:30px; }
#cotonti_download h3 { font-size:135%; padding-top:5px; }
#cotonti_download img { float:left; margin-right:20px; }

.templates .grid { border-top:2px #ddd solid; padding:20px 0; min-height:50px; _height:50px; }
.templates .grid h4 { font-size:115%; }
.templates .grid p { font-weight:bold; margin:0 0 8px 0; font-size:85%; }
.templates .grid small { color:#666; font-size:85%; }

#locales { border-bottom:1px #ddd solid; }
#locales th { background:#ddd; padding:5px; font-weight:bold; }
#locales td { padding:5px; }
#locales .even { background:#eee; }
#locales td img{vertical-align: baseline;}
#locales tr.genoa td {opacity:0.4;}
#locales tr.genoa:hover td {opacity:0.9;}
#locales tr.legacy td {opacity:0.2;}
#locales tr.legacy:hover td {opacity:0.8;}

/* TOC */

ol.toc {
	margin: 20px;
	display: block;
	clear: both;
}
ol.toc li {
	margin-bottom: 20px;
	font-family:'Times New Roman', Times, serif;
	font-weight:normal;
	font-size: 1.3em;
	color:#0072b6;
}
ol.toc li small {
	display: block;
	margin: 10px;
	color:#666;
	font-size:75%;
}

ol.toc li h4 {
	font-weight: normal;
}

ul.toc {
	list-style: none;
	margin: 10px 10px 10px 20px;
	display: block;
	clear: both;
}

ul.toc a.current {
	background-color: lightYellow;
}

ul.toc-main {
	list-style: none;
	margin: 10px 10px 10px 40px;
	display: block;
	clear: both;
}

ul.toc-main a.level-1.cat {
	font-size: 180%;
}

ul.toc-main a.level-2.cat {
	font-size: 150%;
}

ul.toc-main a.level-3.cat {
	font-size: 120%;
}

div.page_summary{
	/* font-family:'Source Serif Pro', 'Times New Roman', Times, serif; */
	font-size: 1.1em;
}
ol.page_summary{
	margin: 0 0 5px 10px;
}

/* page TOC anchors */
a.anchor {
	display: inline;
	margin-left: -0.9em;
	padding-right: 0.3em;
	visibility: hidden;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor{
	visibility: visible;
	text-decoration: none;
}

.pad20 {
	padding: 20px 20px 20px 20px;
}

/* Pretty docs */
.pretty.cke_editable{
	margin:0 15px;
}
.pretty.cke_editable,
.pretty .page_content {
	font-family:'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
.pretty a:hover,
.pretty a:focus{
	text-decoration: underline;
}
.pretty .page_text {
	text-align: justify;
}
.pretty.cke_editable img,
.pretty .page_text img{
	max-width: 100%;
}
.pretty .page_content ul,
.pretty .page_content ol {margin-bottom: 1em;}

.pretty.cke_editable li,
.pretty .page_content li {
	margin-bottom: 0.4em;
	list-style-position:outside;
}
.pretty.cke_editable li p,
.pretty .page_text li p{display: inline;}
.pretty .page_text .description{
	text-indent: 0;
	margin-bottom: 1.5em;
}
.cke_panel_list h1,
.cke_panel_list h2,
.cke_panel_list h3,
.cke_panel_list h4,
.cke_panel_list h5,
.cke_panel_list h6,
.pretty.cke_editable h1,
.pretty.cke_editable h2,
.pretty.cke_editable h3,
.pretty.cke_editable h4,
.pretty.cke_editable h5,
.pretty.cke_editable h6,	
.pretty .page_content h1,
.pretty .page_content h2,
.pretty .page_content h3,
.pretty .page_content h4,
.pretty .page_content h5,
.pretty .page_content h6
{
	margin-top: 20px;
	margin-bottom: 10px;
	color:#404040;
	font-weight: normal;
	font-family:'Open Sans','Helvetica Neue',Helvetica,sans-serif;	
	padding-bottom: 5px;
	text-align: left; 
}
.cke_panel_list h1,
.pretty.cke_editable h1,
.pretty .page_content h1,
.pretty h1.pagetitle{
	font-size: 2.0em;
	font-weight: 700;
	text-align: left; 
	margin-bottom: 0.5em;
}
.pretty.cke_editable h1,
.pretty .page_content h1{
	border-bottom:1px solid #E3E3E3;
}
.cke_panel_list h2,
.pretty.cke_editable h2,
.pretty .page_content h2{
	border-bottom:1px solid #E3E3E3;
	font-size: 1.7em;
	margin-top: 0.8em;
	margin-bottom: 20px;
	font-weight: 700;
}
.cke_panel_list h3,
.pretty.cke_editable h3,
.pretty .page_content h3{
	border-bottom:1px solid #E3E3E3;
	font-size: 1.5em;	
}
.cke_panel_list h4,
.pretty.cke_editable h4,
.pretty .page_content h4{
	font-size: 1.3em;
	border:none;
	color:#111;
}
.cke_panel_list h5,
.pretty.cke_editable h5,
.pretty .page_content h5{
	font-size: 1.1em;
	font-weight: bolder;
	margin: 10px 0;
	border:none;
}
.cke_panel_list h6,
.pretty.cke_editable h6,
.pretty .page_content h6{
	margin: 10px 0;
	font-weight: bold;
	border:none;
}
.cke_panel_list h1,
.cke_panel_list h2,
.cke_panel_list h3,
.cke_panel_list h4,
.cke_panel_list h5,
.cke_panel_list h6{
	margin: 0;
	padding: 0;
}
.cke_panel_list .cke_panel_listItem > a > *{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.cke_combopanel{
	width: 170px !important;
}
.pretty p.list-title{
	margin-bottom: 0.2em;
}

/* Locales special	*/
.pretty.i18n-ru .page_content.localfont h2, 
.pretty.i18n-ru .page_content.localfont h3{
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, 'Source Serif Pro', serif;
}
.pretty.i18n-ru .page_content.localfont{
	font-family: 'PT Serif', 'Times New Roman', Times, serif;
}
.pretty.i18n-ru .page_content p{
	text-indent: 2em;
	line-height: 1.4em;
}
.pretty.i18n-en .page_content p{
	margin-bottom: 1.4em;
}
.pretty a.pm_send img{
	margin-bottom: -7px;
	margin-left: 3px;
}

/* Tags */
.pretty.tags-search div.notice,
.pretty.tags-search div.error{
	margin: 0.6em 1em 0.6em 2em;
}
.pretty.tags-search .block{
	margin-bottom: 2em;
} 
.pretty.tags-search .block .result{
	margin-left: 1.5em;
}
.pretty.tags-search img.flag{
	margin-left: -22px;
}
.pretty.tags-search .page_content h1,
.pretty.tags-search .page_content h2,
.pretty.tags-search .page_content h3,
.pretty.tags-search .page_content h4{
	font-size: 1.2em;
}

/* User details */
.user_details .title{
	margin-left: 10px;
	margin-top: 1.2em;
}
.user_details .avatar{
	max-width: 95%;
	max-height: 250px;
} 
.user_details .userphoto{
	float: left;
	margin: 10px 20px 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-height: 400px;
}
.user_details .usertext{
	/* margin-left: 1em; */
	min-width: 30%;
	max-width: 65%;
	text-align: justify;
	margin-bottom: 2em; 
}
.user_details .usertext .desc{
	text-align: right;
	font-weight: bold;
	color:#999;
}
.user_details h4{
	font-size: 110%;
}
.user_details .groups{
	margin-left: 35px;
	vertical-align: top;
}

.uinfolist dl{
	margin-top: 10px;
}
.uinfolist .dl-horizontal dt{
	width: 130px;
	line-height: 1.5em;
	margin-bottom: 5px;
}
.uinfolist .dl-horizontal dd{
	margin-left: 140px;
	line-height: 1.5em;
	margin-bottom: 5px;
}

/* pretty tables */
.pretty table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.pretty table > thead > tr > th,
.pretty table > tbody > tr > th,
.pretty table > tfoot > tr > th,
.pretty table > thead > tr > td,
.pretty table > tbody > tr > td,
.pretty table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.pretty table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.pretty table > caption + thead > tr:first-child > th,
.pretty table > colgroup + thead > tr:first-child > th,
.pretty table > thead:first-child > tr:first-child > th,
.pretty table > caption + thead > tr:first-child > td,
.pretty table > colgroup + thead > tr:first-child > td,
.pretty table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.pretty table > tbody + tbody {
	border-top: 2px solid #ddd;
}
.pretty table .table {
	background-color: #fff;
}
.pretty table.condensed > thead > tr > th,
.pretty table.condensed > tbody > tr > th,
.pretty table.condensed > tfoot > tr > th,
.pretty table.condensed > thead > tr > td,
.pretty table.condensed > tbody > tr > td,
.pretty table.condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #ddd;
}
.pretty table.bordered > thead > tr > th,
.pretty table.bordered > tbody > tr > th,
.pretty table.bordered > tfoot > tr > th,
.pretty table.bordered > thead > tr > td,
.pretty table.bordered > tbody > tr > td,
.pretty table.bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}
.pretty table.bordered > thead > tr > th,
.pretty table.bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.pretty table.no-stripes > tbody > tr:nth-of-type(odd) {
	background-color: transparent;
}
.pretty table > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.pretty table.no-hover > tbody > tr:hover {
	background-color: transparent;
}
.pretty table > tbody > tr:hover {
	background-color: #f5f5f5;
}
.pretty table > thead > tr > td.active,
.pretty table > tbody > tr > td.active,
.pretty table > tfoot > tr > td.active,
.pretty table > thead > tr > th.active,
.pretty table > tbody > tr > th.active,
.pretty table > tfoot > tr > th.active,
.pretty table > thead > tr.active > td,
.pretty table > tbody > tr.active > td,
.pretty table > tfoot > tr.active > td,
.pretty table > thead > tr.active > th,
.pretty table > tbody > tr.active > th,
.pretty table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.pretty table.hover > tbody > tr > td.active:hover,
.pretty table.hover > tbody > tr > th.active:hover,
.pretty table.hover > tbody > tr.active:hover > td,
.pretty table.hover > tbody > tr:hover > .active,
.pretty table.hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}

.msg-box{
	background: transparent url('../img/warning-stripes.png') repeat-x scroll left top;
	border: 1px solid #777;
	margin: 20px 0;
	padding: 20px 30px;
	text-align: center;
}
.msg-box.info{
	background-color: #CDEAFF;
	border-color: #6587FF;
	box-shadow: 0 0 5px rgba(101, 181, 255, 0.5)
}
.msg-box.warning {
	background-color: #fff4ce;
	border-color: #ffc864;
	box-shadow: 0 0 5px rgba(255, 200, 100, 0.5);
}
.msg-box.danger{
	background-color: #FFD7CD;
	border-color: #FF8365;
	box-shadow: 0 0 5px rgba(255, 126, 101, 0.5)
}

/* Tags styling */
ul.tags {
	list-style: none;
	margin: 1.5em 0 0.5em 0.1em;
	overflow: hidden;
	padding: 0;
}

.tags li {
	float: left;
}

.tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	height: 23px;
	line-height: 23px;
	padding: 0 10px 0 25px;
	position: relative;
	margin: 0 10px 10px 0;
}
.tag,
.tag a{
	color: #888;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}
.tag::after {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 11px;
	position: absolute;
	width: 6px;
	top: 8px;
}

.tag::before {
	background: #fff;
	border-bottom: 12px solid transparent;
	border-right: 10px solid #eee;
	border-top: 12px solid transparent;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
}

.tag:hover a,
.tag:hover {
	background-color: crimson;
	color: white;
	text-decoration: none !important;
}

.tag:hover::before {
	border-right-color: crimson;
}

/* page info block */
#pageinfo .page-info p{
	line-height: 1.2em;
}

#pageinfo ul.page_langs{
	list-style: none;
	margin-top: 0;
}
#pageinfo ul.page_langs li{
	margin-left: 20px;	
}
#pageinfo .i18n-link img.flag{
	margin-left: -20px;
}
#pageinfo .buttons a{
	margin:4px 2px;
}
#pageinfo .buttons .translate a,
#pageinfo .buttons .edit a{background-color: #EEFFEF; color:#318231;}
#pageinfo .buttons .unvalidate a{background-color: #EBF9FF;}
#pageinfo .buttons .delete a{background-color: #FFF5F7; color:#910000;}

/* i18n*/
table.i18n { background: transparent;}
table.i18n td{
	padding:5px 15px;
	background-color: #fff;
} 
table.i18n .i18n-page-text{
	max-width: 410px;
}
table.i18n textarea.editor{
	height:80vh;
}
#i18n{
	padding: 0 30px;
}
#i18n .i18n-page-text{
	font-size: 0.85em;
}
#i18n .i18n-page-text div.syntaxhighlighter .container{
	width: auto !important;
	max-width: 320px;
}

.polls table{
	line-height: 1.8em;
}
.polls table td{
	padding: 5px 15px;
}
.polls div.bar_outer{
	margin-top: 10px;
}

/* Comments */
.comment { margin:12px 0; }
.comment ins {
	display:block; float:left; height:0; width:0; overflow:hidden; margin-left:10px; margin-top:15px;
	border-bottom:8px solid #eee; border-left:8px solid #fff;
}
.comment small { display:block; height:16px; line-height:16px; margin-top:6px; padding-left:5px; font-size:0.9em; }
.comment div.comm_block {
	background:#eee; padding:5px 9px; clear:left;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
.comment div p { margin:0; font-size:90%; }
.comment div.comm_userinfo{
	width: 15%;
	float: left;
}
.comment div img.comm_avatar { 
	padding:4px 0;
	max-width: 100%; 
}
.comment div.comm_textblock {
	float:left;
	width: 85%;
}
.comment div.comm_text {
	margin-left: 7px; 
}

/* Forums */
table.forums {
	background:url(../img/bar_bg_dark.png) repeat-x top; margin-bottom:15px;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
table.forums thead th { padding:0 10px; line-height:30px; color:#c0d2dd; text-align:left; }
table.forums thead th a { color:#fff; }
table.forums tr.even { background-color:#efefef; }
table.forums td { padding:8px 10px; border-bottom:1px #ccc solid; }
table.forums td h4 { padding:0; margin:0; font-weight:bold; }
table.forums td span { font-size:0.9em; }
table.forums td.pages { text-align:right; font-size:0.9em; }
table.forums td.pages span { font-size:inherit; }
table.forums td.pages a {
	margin-right:2px; padding:0 4px; background:#eee; border:1px #ccc solid;
	-khtml-border-radius:2px; -moz-border-radius:2px;
	-ms-border-radius:2px; -o-border-radius:2px;
	-webkit-border-radius:2px; border-radius:2px;
}
table.forums td.lastpost { font-size:0.9em; }
table.forums td.lastpost strong a { padding-right:15px; background:url(../img/icon_jump.png) no-repeat right center; }
ul.subforums { margin:2px 0 0 0; list-style:none; font-size:0.9em; }
ul.subforums li { display:inline-block; margin-right:20px; }
ul.subforums li a { background:url(../img/icon_folder.png) no-repeat left center; padding-left:20px; }

table.subforums {
	background:url(../img/bar_bg_light.png) repeat-x top; margin-bottom:15px;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
table.subforums thead th { padding:0 10px; line-height:30px; }
table.subforums tr.even { background-color:#efefef; }
table.subforums td { padding:8px 10px; border-bottom:1px #ccc solid; }
table.subforums td h4 { padding:0; margin:0; font-weight:bold; }
table.subforums td span { font-size:0.9em; }
table.subforums td.lastpost { font-size:0.9em; }

table.forumpost { width:100%; margin-bottom:15px;
	background:#eee url(../img/bar_bg_light.png) repeat-x top; border-bottom:1px #ccc solid;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
table.forumpost thead th { padding:0 10px; line-height:30px; }
table.forumpost thead th a { color:#012d48; }
table.forumpost thead th .actions { float:right; }
table.forumpost thead th .actions a {
	background-color:#efefef; padding:2px 5px; margin-left:5px; font-size:0.9em; color:#666;
	-khtml-border-radius:3px; -moz-border-radius:3px;
	-ms-border-radius:3px; -o-border-radius:3px;
	-webkit-border-radius:3px; border-radius:3px;
}
table.forumpost thead th .actions a:hover { color:#000; text-decoration: none;}
table.forumpost thead th .actions a#bottom { position:absolute; visibility:hidden; }
table.forumpost td.info { background-color:#efefef; }
table.forumpost td { padding:8px 10px; vertical-align:top; }
table.forumpost .small td { padding:0 10px;}
table.forumpost.n1 { background-image:url(../img/bar_bg_dark.png); }
table.forumpost.n1 thead th { color:#c0d2dd; }
table.forumpost.n1 thead th a { color:#fff; }
table.forumpost.n1 thead th .actions a { background-color:#024c79; color:#c0d2dd; }
table.forumpost.n1 thead th .actions a:hover { color:#fff; text-decoration: none;}

.forums_col_info .infobox{ width:140px; }
.forums_col_main { padding:0 10px 0 10px!important; }
.forums_col_main { margin:0; width:720px; overflow:auto; display: block;}
.forums_col_main div.signature { border-top:1px #ccc solid; padding:5px 0!important; color:#777!important; font-size:0.9em; overflow:hidden; }

.forums_col_info .infobox img{
	max-height: 200px;
	max-width: 80%;
}
.pm .bbox,
.forums_col_main .bbox{
	background-color: #fff;
	border: 1px solid #ddd;
	border-color:rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin:5px 0;
	padding: 0 15px 0 20px;
	max-width: 900px;
}
.pm .bbox::before,
.forums_col_main .bbox::before {
	background-color: #eee;
	background: transparent none repeat scroll 0 0;
	border-bottom: 12px solid transparent;
	border-right: 10px solid #fff;
	border-top: 12px solid transparent;
	content: "";
	left: -25px;
	top: 15px;
	position: relative;
	display: block;
	height: 0;
	width: 0;
	float: left;
}
.forums_col_main .bbox .page_content{
	padding-top: 5px;
	padding-bottom: 5px;
}
.forumtopic a:hover{
	text-decoration: underline;
}
.pretty.cke_editable blockquote,
.pm blockquote, 
.forumpost blockquote,
.forumpost blockquote.fp{
	background-color: #f3f3f3;
	background-color: rgba(128,128,128, 0.05);
	border-left: 4px solid #FFC67D;
	padding:5px 5px 5px 10px;
	margin-right: 0;
	line-height: 1.5em;
}
.pretty.cke_editable blockquote blockquote,
.pm blockquote blockquote,
.forumpost blockquote blockquote{
	margin: 0;
}
.forumpost .syntaxhighlighter{
	max-width: 1200px;
}
.forumpost tbody{
	border:1px solid #eee;
}
.forumpost .updatedby td br{
	display: none;
}
.forumpost .updatedby td em{
	line-height: 2em;
	margin-left: 5px;
}
/*Forum */
.pretty .forums_col_main p{
	margin: 0.8em 0;
}
.forumpost.pretty p.updated{
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

ul.tabs { list-style:none; margin:30px 0 0 30px; }
ul.tabs li {
	float:left; margin:0 5px 0 0; background:#eee url(../img/bar_bg_gray.png) repeat-x bottom;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
ul.tabs li a {
	display:block; padding:6px 15px 4px 15px;
	color:#000; font-weight:bold;
}
ul.tabs li:hover { background:#b1d3e7 url(../img/bar_bg_light.png) repeat-x bottom; }
ul.tabs li.active { background:#1b70a2; }
ul.tabs li.active a { color:#fff; }
ul.tabs li.pm_inbox a { background:url(../img/icon_pm_inbox.png) no-repeat 12px 5px; padding-left:36px; font-size:1.1em; }
ul.tabs li.pm_outbox a { background:url(../img/icon_pm_outbox.png) no-repeat 12px 5px; padding-left:36px; font-size:1.1em; }
ul.tabs li.pm_inbox.active a { background-position:12px -25px; }
ul.tabs li.pm_outbox.active a { background-position:12px -25px; }

/* Private Messages */
.newpm { float:right; }
.newpm div {
	background:#207ab0 url(../img/bar_bg_dark.png) repeat-x bottom; font-weight:bold;
	-khtml-border-radius:5px; -moz-border-radius:5px;
	-ms-border-radius:5px; -o-border-radius:5px;
	-webkit-border-radius:5px; border-radius:5px;
}
.newpm div a {
	background:url(../img/icon_messages.png) no-repeat 10px 9px;
	display:block; height:29px; line-height:29px; padding:0 11px 0 31px; text-align:center; color:#c0d2dd;
}
.newpm div a:hover { color:#fff; }
.pm table.cells td{ padding:3px 10px; }
.pm input[name=newpmtitle],
.pm textarea {
	box-sizing: border-box;
	width: 100%;
}
.pm .userinfo{
	vertical-align: top;
	padding: 10px;
}
.pm .bbox hr.dashed{
	border-style:dashed none none;
	border-width:2px;
}
.pm .bbox .title{
	color:#f17e32;
	font-weight: 700;
	font-size: 1.9em;
	text-indent: -0.3em;
}
table.pm {
	background:#eee url(../img/bar_bg_dark.png) repeat-x top;
	-khtml-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
	-ms-border-radius:5px 5px 0 0; -o-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;
}
table.pm thead th { padding:0 10px; line-height:30px; color:#c0d2dd; }
table.pm thead th a { color:#fff; }
table.pm thead th input { height:inherit; margin-bottom: 7px;}
table.pm thead th .actions {  }
table.pm thead th .actions a {
	background-color:#024c79; padding:2px 5px; margin-left:5px; font-size:0.9em; color:#c0d2dd;
	-khtml-border-radius:3px; -moz-border-radius:3px;
	-ms-border-radius:3px; -o-border-radius:3px;
	-webkit-border-radius:3px; border-radius:3px;
}
table.pm thead th .actions a:hover { color:#fff; }
table.pm td { padding:3px 5px 0 10px; border-top:1px #fff solid; border-bottom:1px #ccc solid; color:#666; line-height:22px; vertical-align:middle; }
table.pm td img.avatar { vertical-align:middle; margin:0 5px 3px 0; display: block;	max-width: 100px;}
table.pm td.actions { text-align: right;	padding-right: 15px; }
table.pm td.actions img { vertical-align:middle; margin-bottom:4px; }
table.pm td div.pmtitletext { float:left; line-height:20px; height:20px; margin:0; padding:0; text-overflow:ellipsis; overflow:hidden; }
table.pm input { height:20px; width:16px; margin:0; }
table.pm tr.state0 { background-color:#fff; }
table.pm tr.state0 td { font-weight:bold; color:#000; }
table.pm tbody tr:hover td { background-color:#f3f3f3; }

/* Search */
#find_form { margin:20px 0; }
#find_form input { display:block; width:95%; margin:10px 0; }
#find_form button { display:block; margin:10px 0; }
#find_results small { display:block; font-size:85%; padding:10px 0; }
#find_results div { padding:15px 0 10px 0; border-top:1px #ddd solid; }
#find_results div p { line-height:1.3em; font-size:90%; color:#666; }
#find_results div p em { color:#222; font-weight:bold; font-style:normal; }
#find_results div a { line-height:1em; font-size:110%; }
#find_results div a:visited { color: #5C3388; }
#find_results div a:hover { text-decoration:underline; }
#find_results div small { display:inline; font-size:80%; padding:0 5px; color:#999; }
#find_paging { float:none; margin:10px 0; }
#find_sources { margin:20px 0; }
#find_sources h3 { border-bottom:1px #d8dfe7 solid; padding:2px; margin-bottom:5px; }
#find_sources ul { list-style:none; margin:0 0 20px 0; }
#find_sources ul li { margin:2px 0; padding:0; }
#find_sources ul li a {
	display:block; padding:4px 8px;
	-khtml-border-radius:4px; -moz-border-radius:4px;
	-ms-border-radius:4px; -o-border-radius:4px;
	-webkit-border-radius:4px; border-radius:4px;
}
#find_sources ul li a:hover { background-color:#e7ebf0; }
#find_sources ul li a.selected { background-color:#d8dfe7; }
#find_sources ul li a small { float:right; color:#9ab; }
#find_sources ul li ul { margin:0 8px; padding:1px 4px; border-left:3px #d8dfe7 solid; line-height:14px; font-size:85%; }
#find_sources ul li ul li { padding-bottom:2px; }

/* Modal box
-------------------------------------------------- */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;

	overflow: auto;

    background-color: #EEE;
    color: #333;
    border: 3px solid white;
    padding: 7px;
	text-align: center;
}

.jqmWindow h4 {
	border-bottom: 1px dotted #b0c4de;
	font-size: 14px;
	margin: 0 0 7px 0;
	padding: 0 0 5px 0;
	text-align: left;
	color: #3E606F;
}

.jqmWindow p{
	text-align: right;
	margin: 15px 0 0 0;
	font-size: x-small;
	text-transform: lowercase;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
	Star selector used to hide definition from browsers other than IE6
	For valid CSS, use a conditional include instead */
* html .jqmWindow {
	position: absolute;
	top: expression(( document.documentElement.scrollTop || document.body.scrollTop)+ Math.round(17* (document.documentElement.offsetHeight||
		 document.body.clientHeight)/100)+ 'px');
}

/* New year styling */
.ny-deco{
	background: transparent url(../img/nydec3.png) no-repeat left 1px; 
	z-index: 0;	
	position: absolute;
	width: 194px;
	height: 128px;
}
.ny-ball{
	background: transparent url(../img/nyball.png) no-repeat top left;
	z-index: 5;
	position: absolute;
	width: 45px;
	height: 51px;
	margin-left: 226px;
	margin-top: 63px;
}
@media only screen and (min-width:1120px) {
	.ny-ball{
		margin-left: 236px;
	}
}
@media only screen and (min-width:1240px) {
	.ny-ball{
		margin-left: 246px;
	}
}
/* CKEditor fontsize fixes */
@media only screen and (min-width:900px) {
	.pretty.cke_editable{font-size: 14px;}
}
@media only screen and (min-width:1100px) {
	.pretty.cke_editable{font-size: 15px;}
}
